.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning {
  margin: 20px 0;
}

.Meaning .Definition {
  font-size: 15px;
}

.Meaning .Example {
  color: #de5b7b;
  font-style: normal;
  margin-top: 10px;
  font-size: 14px;
}